        {% extends 'base.html.twig' %}

        {% block title %}Zlepšujeme školstvo{% endblock %}

        {% block body %}
        <!-- ======== @Region: #highlighted ======== -->
        <div id="highlighted">
          <div class="inner">
            <!--Static Banner-->
            <section class="static-banner container">
              <div class="slide">
                  <div class="col-md-12 caption">
                      <div class="jumbotron">
                          Zlepšujeme školstvo je Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                      <a href="#add-suggestion" class="btn btn-lg btn-primary center-block">Pridať podnet</a> 
                  </div>
              </div>
          </section>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container">
        <!-- Services -->
        <div class="block features">
          <h2 class="title-divider"><a name="add-suggestion"></a>
            <span>Pridať <span class="de-em">podnet</span></span>
            <small>Pridajte váš podnet na zlepšenie školstva.</small>
        </h2>
        <div class="row">
            <p>foo</p>
        </div>
    </div>
    <!--Customer testimonial-->
    <div class="block testimonials margin-top-large"> <a name="newest-suggestions"></a>
      <h2 class="title-divider">
        <span>Najnovšie <span class="de-em">podnety</span></span>
        <small>Už čoskoro tu uvidíte všetky podnety prehľadne kategorizované.</small>
    </h2>
    <div class="row">
        <p>foo</p>
    </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below" class="wrapper">
      <div class="container">
        <div class="row">
          <div class="upsell">
            <small class="muted">Ak sa chcete dozvedieť, kedy spustíme ďaľšie funkcie tejto stránky, zadajte svoj mail do formulára v pätičke.</small>
        </div>
    </div>
    </div>
    </div>
    {% endblock %}